.theorem
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f0f4f8
  .title
    font-weight bold
  .cover
    width 90px
    height auto
    float right

.videoWrapper
	position relative
	padding-bottom: 56.25%
	padding-top 25px
	height 0

.videoWrapper iframe
  position absolute
  top 0
  left 0
  width 100%
  height 100%
